

    <li class="dropdown" data-admin-menu>
        <a href="#">
            Admin
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <br />
            <li class="dropdown-header">Pages</li>
            <li class="divider" />
            <li><a href="/Admin/ContactPage">&nbsp;&nbsp;Contact Page</a></li>
            <li><a href="/Admin/AboutPage">&nbsp;&nbsp;About Page</a></li>
            <li class="divider" />
            <li class="dropdown-header">Products</li>
            <li class="divider" />
            <li><a href="/Admin/Shop/Products">&nbsp;&nbsp;Products</a></li>
            <li><a href="/Admin/Shop/Brands">&nbsp;&nbsp;Product Brands</a></li>
            <li><a href="/Admin/Shop/Categories">&nbsp;&nbsp;Product Categoraise</a></li>
            <li class="divider" />
            <li class="dropdown-header">Users</li>
            <li class="divider" />
            <li><a href="/Admin/User/UserList">&nbsp;&nbsp;User</a></li>
            <li><a href="/Admin/User/Roles">&nbsp;&nbsp;User Role</a></li>
        </ul>
    </li>
